<header id="masthead">
  <div class="inner-wrap">
  <a class="menu_"href="https://aprigf.ru/press/?p=video&vid=ENSvC3wLx9c"> About Me </a>|
	<a class="menu_"href="https://drive.google.com/file/d/1drV4szB5DeZbYcURzShvXM0muLEzNiJV/view?usp=sharing"> CV </a>|
	<a class="menu_"href="https://bit.ly/2Xffm9G"> Google Scholar </a>|
  <a class="menu_"href="https://ieee-sa.imeetcentral.com/ead">IEEE EAD </a>|
	<a class="menu_"href="https://ai-law-policy.blogspot.com"> My Blog </a>|
  <a class="menu_"href="https://twitter.com/Eun_Chang_Choi"> Twitter </a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
