<header id="masthead">
  <div class="inner-wrap">
  <a class="menu_"href="https://thecourtyard.law.yale.edu/hub/yalelaw/profile-v2/eunchangchoi"> About Me </a>| 
	<a class="menu_"href="https://bit.ly/2Xffm9G"> Google Scholar </a>| 
  <a class="menu_"href="https://www.linkedin.com/in/%EC%B5%9C%EC%9D%80%EC%B0%BD-eun-chang-choi-640723189"> LinkedIn </a>|
	<a class="menu_"href="https://www.facebook.com/InsideTechLaw"> Facebook </a>|
  <a class="menu_"href="https://twitter.com/ai_techlaw"> Twitter </a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
