<header id="masthead">
  <div class="inner-wrap">
  <a class="menu_"href="https://www.kaist.ac.kr/_prog/_board/?code=kaist_news&mode=V&no=96361&upr_ntt_no=96361&site_dvs_cd=kr&menu_dvs_cd=0601"> About Me </a>|
	<a class="menu_"href="https://drive.google.com/file/d/1drV4szB5DeZbYcURzShvXM0muLEzNiJV/view?usp=sharing"> CV </a>|
	<a class="menu_"href="https://bit.ly/2Xffm9G"> Google Scholar </a>|
  <a class="menu_"href="https://ieee-sa.imeetcentral.com/ead">IEEE EAD </a>|
	<a class="menu_"href="https://ai-law-policy.blogspot.com"> My Blog </a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
