/* ==========================================================================
   Footnotes
   ========================================================================== */

.footnotes {
  font-family: $alt-font;
  p, li {
    @include font-size(11,no);
  }
  &:before {
    content: 'Footnotes:';
    font-weight: 600;
  }
}
