<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content=":::Law, Tech Policy, Data and AI Algorithm:::">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->

  </head>
  
<style> 
.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #444;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px 10px 20px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 100%;
    margin-left: 25 px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.75;
}
</style>
  <body>
    <body id="js-body">
    {% include browser-upgrade.html %}
    {% include header.html %}
    <div id="page-wrapper"> 
<div class="container">
      {{ content }} 
    </div> 
<footer> 
   <ul>
   <li><a href="mailto:eunchang.choi@aya.yale.edu">Email</a></li>  
   <li><a href="https://www.hiig.de/en/research/ai-and-society-lab"> HIIG AI </a></li>  
   <li><a href="https://governance.ai"> FHI Oxford </a></li>
   <li><a href="https://oii.ox.ac.uk/research/governance-of-emerging-technologies"> Oxford GET</a></li>
   <li><a href="https://cyber.harvard.edu/topics/ethics-and-governance-ai"> Harvard Berkman </a></li>
   <li><a href="https://aiethicsinitiative.org/projects"> Ethics/Governance AI Initiative </a></li> 
   <li><a href="https://www.technologyreview.com/search/?s=AI"> MIT Review</a></li>  
   </ul>
  </footer>
  </body>
</html>
